<!-- pick bottle modal -->
<div class="modal fade pos-center" id="pickModel" tabindex="-1" role="dialog" aria-labelledby="pickModelLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="pickModelLabel">捞瓶子</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="pick-name" class="control-label">打捞者:</label>
                        <input type="text" class="form-control" name="pickName" id="pick-name" value="<%= user.name %>">
                    </div>
                    <div class="form-group">
                        <label for="pick-type" class="control-label">打捞类型:</label>
                        <select class="form-control" name="pickType" id="pick-type">
                            <option selected="selected">请选择类型</option>
                            <option value="1">男生瓶</option>
                            <option value="0">女生瓶</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="pickBtn" data-dismiss="modal">开始打捞</button>
            </div>
        </div>
    </div>
</div>
<!-- throw bottle modal -->
<div class="modal fade pos-center" id="throwModel" tabindex="-1" role="dialog" aria-labelledby="throwModelLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="throwModelLabel">扔瓶子</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="throw-name" class="control-label">投扔者:</label>
                        <input type="text" class="form-control" name="throwName" id="throw-name" value="<%= user.name %>">
                    </div>
                    <div class="form-group">
                        <label for="throw-type" class="control-label">性别:</label>
                        <select class="form-control" name="throwType" id="throw-type">
                            <% if(user.sex == 1) { %>
                            <option value="1">男生瓶</option>
                            <% } else { %>
                            <option value="0">女生瓶</option>
                            <% } %>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="control-label">漂流瓶信息:</label>
                        <textarea class="form-control" name="throwMsg" id="message-text"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="throwBtn" data-dismiss="modal">开始投扔</button>
            </div>
        </div>
    </div>
</div>
<!-- all bottle modal -->
<div class="modal fade pos-center" id="listModel" tabindex="-1" role="dialog" aria-labelledby="listModelLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="listModelLabel">我的瓶子</h4>
            </div>
            <div class="modal-body">
                <ul class="list-group"></ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>
