<!DOCTYPE html>
<html>
  <head>
    <title>Node Drifter</title>
    <link rel="stylesheet" href="/stylesheets/font-awesome.css"/>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css"/>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="center-block bg-image">
        <div class="btn-group btn-group-justified" role="group" aria-label="">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#pickModel">
                    <!--<span class="glyphicon glyphicon-download"></span>-->
                    <i class="fa fa-hand-rock-o"></i>
                    捞瓶子
                </button>
            </div>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#throwModel">
                    <!--<span class="glyphicon glyphicon-upload"></span>-->
                    <i class="fa fa-hand-paper-o"></i>
                    扔瓶子
                </button>
            </div>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#infoModel">
                    <span class="glyphicon glyphicon-th-list"></span>
                    我的瓶子
                </button>
            </div>
        </div>
        <!-- pick bottle modal -->
        <div class="modal fade pos-center" id="pickModel" tabindex="-1" role="dialog" aria-labelledby="pickModelLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="pickModelLabel">捞瓶子</h4>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="pick-name" class="control-label">打捞者:</label>
                                <input type="text" class="form-control" name="pickName" id="pick-name" placeholder="打捞者的昵称">
                            </div>
                            <div class="form-group">
                                <label for="pick-type" class="control-label">打捞类型:</label>
                                <select class="form-control" name="pickType" id="pick-type">
                                    <option selected="selected">请选择类型</option>
                                    <option value="1">男生瓶</option>
                                    <option value="0">女生瓶</option>
                                </select>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-info" id="pickBtn" data-dismiss="modal">开始打捞</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- throw bottle modal -->
        <div class="modal fade pos-center" id="throwModel" tabindex="-1" role="dialog" aria-labelledby="throwModelLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="throwModelLabel">扔瓶子</h4>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="throw-name" class="control-label">投扔者:</label>
                                <input type="text" class="form-control" name="throwName" id="throw-name" placeholder="投扔者的昵称">
                            </div>
                            <div class="form-group">
                                <label for="throw-type" class="control-label">打捞类型:</label>
                                <select class="form-control" name="throwType" id="throw-type">
                                    <option selected="selected">请选择类型</option>
                                    <option value="1">男生瓶</option>
                                    <option value="0">女生瓶</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="message-text" class="control-label">漂流瓶信息:</label>
                                <textarea class="form-control" name="throwMsg" id="message-text"></textarea>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-info" id="throwBtn" data-dismiss="modal">开始投扔</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- all bottle modal -->
        <div class="modal fade pos-center" id="infoModel" tabindex="-1" role="dialog" aria-labelledby="myModelLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModelLabel">我的瓶子</h4>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="recipient-name" class="control-label">Recipient:</label>
                                <input type="text" class="form-control" id="recipient-name">
                            </div>
                            <div class="form-group">
                                <label for="message-text" class="control-label">Message:</label>
                                <textarea class="form-control" id="message-text"></textarea>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-info" data-dismiss="modal">Send message</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade pos-center" id="resultModal" tabindex="-1" role="dialog" aria-labelledby="resultModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="resultModalLabel">Modal title</h4>
                    </div>
                    <div class="modal-body">

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-info" data-dismiss="modal">关闭</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade pos-center" id="promptModal" tabindex="-1" role="dialog" aria-labelledby="promptModalLabel">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="resultModalLabel">Modal title</h4>
                    </div>
                    <div class="modal-body"></div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-info" data-dismiss="modal">关闭</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script type="text/javascript" src="/bower_components/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="/javascripts/main.js"></script>
  </body>
</html>
