<!DOCTYPE html>
<html>
  <head>
    <title>Node Drifter</title>
    <link rel="stylesheet" href="/stylesheets/font-awesome.css"/>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css"/>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="center-block bg-image">
        <% if(pageType == 'login') { %>
            <% include login.ejs %>
        <% } %>
        <% if(pageType == 'main') { %>
            <% include menu.ejs %>
            <% include funcframe.ejs %>
            <% include infoframe.ejs %>
        <% } %>
    </div>
    <script type="text/javascript" src="/bower_components/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="/javascripts/main.js"></script>
  </body>
</html>
