<!-- show pick bottle result -->
<div class="modal fade pos-center" id="resultModal" tabindex="-1" role="dialog" aria-labelledby="resultModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="resultModalLabel">Modal title</h4>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="replyBtn" data-dismiss="modal">回复</button>
                <button type="button" class="btn btn-primary" id="deleteBtn" data-dismiss="modal">删除</button>
            </div>
        </div>
    </div>
</div>
<!-- show prompt info -->
<div class="modal fade pos-center" id="promptModal" tabindex="-1" role="dialog" aria-labelledby="promptModalLabel">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="resultModalLabel">Modal title</h4>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>

<!-- Dialog box modal -->
<div class="modal fade pos-center" id="dialogModel" tabindex="-1" role="dialog" aria-labelledby="dialogModelLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="dialogModelLabel">Bottle talk</h4>
            </div>
            <div class="modal-body">
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-success text-right">
                        <h5 class="list-group-item-heading">小红&nbsp;&nbsp;<small>2016-01-12 12:10</small></h5>
                        <p class="list-group-item-text">你是谁？我认识你吗？</p>
                    </a>
                    <a href="#" class="list-group-item list-group-item-info text-left">
                        <h5 class="list-group-item-heading">小明&nbsp;&nbsp;<small>2016-01-12 12:28</small></h5>
                        <p class="list-group-item-text">我是神一样的存在！！！</p>
                    </a>
                </div>
                <form>
                    <div class="form-group">
                        <label for="message-text" class="control-label">回复内容:</label>
                        <textarea class="form-control" name="throwMsg" id="replyMsg"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">发送</button>
            </div>
        </div>
    </div>
</div>

