<div class="text-center margin-set">
    <h1>漂流瓶</h1>
    <form class="form-inline form-login" action="/login.do" method="post">
        <div class="form-group">
            <label class="sr-only">username</label>
            <input type="text" name="name" required class="form-control" placeholder="用户账号" />
            <select name="sex" class="form-control">
                <option value="" selected="selected">性别</option>
                <option value="0">女生</option>
                <option value="1">男生</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary btn-enter">
            <i class="fa fa-sign-in"></i>&nbsp;进入
        </button>
    </form>
</div>
